@import "../styles/mixins";

.section__testimonials {
  gap: calc(var(--default-padding) * 3);
}

.customer__opinions {
  grid-column: 1/-1;
  font-size: var(--font-size-40);
  line-height: 1.7;
  width: 100%;
}

.customer__wrapper {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.customer__container {
  @include display-flex(column, center, flex-start);

  /* flex-basis: 28%; */
  max-width: 400px;
  flex-shrink: 0;
  scroll-snap-align: start;
  min-height: 230px;
  border: 2px solid var(--color-soft-red);
  border-radius: 10px;
  padding: calc(var(--default-padding));

  &__header {
    @include display-flex(row, center, space-between);
    width: 100%;

    &__img {
      max-width: 100%;
    }

    &__rating {
      color: var(--color-gray);
    }

    &__info {
      margin-inline-start: 15px;
      margin-inline-end: auto;
    }
  }

  &__description {
    margin-top: var(--default-padding);
    // width: 340px;
    color: var(--color-gray);
    width: 100%;
    margin-bottom: var(--default-padding);
  }
}

.customer__container__header__info__title {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-500);
  color: var(--color-dark-blue);
}

.customer__container__header__info__bio {
  font-size: var(--font-size-14);
  color: var(--color-gray);
}
