@use "../components/responsive";
@use "../components/reset";
@use "../components/global";
@use "../components/header";
@use "../components/about";
@use "../components/features";
@use "../components/pricing";
@use "../components/network";
@use "../components/testimonials";
@use "../components/help";
@use "../components/footer";

@import "./mixins";

:root {
  --color-background: white;
  --color-footer: #f8f8f8;
  --color-dark-blue: #0b132a;
  --color-black: #000000;
  --color-soft-red: #f53838;
  --color-gray: #4f5665;
  --color-soft-gray: #dddddd;
  --color-white: white;
  --color-off-white: #f8f8f8;
  --default-padding: 20px;
  --default-radius: 4px;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --container-width: 1200px;
  --timing-animation: 0.2s;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --font-size-35: 35px;
  --font-size-50: 50px;
}
/* CSS Reset */

/* End CSS Reset */

/* global */

/* end global */

/* header */

/* end header */

/* about */

/* end about*/

/* features */

/* end features */

/* pricing */

/* end pricing*/

/* network */

/* end network */

/* testimonials */

/* end testimonials */

/* help */

/* end help */

/* footer */

/* end footer */

@media (min-width: 980px) and (max-width: 1280px) {
}

@media (max-width: 980px) {
  .links {
    z-index: -10;
    position: absolute;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;
    z-index: 10;
  }

  .burger-menu__bar {
    background-color: var(--color-dark-blue);
    height: 0.3rem;
    width: 4.375rem;
    transition: 0.5s ease-in-out;
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }

  .header:has(.burger-menu__checkbox:checked) .links {
    top: 100%;
    &::before {
      box-shadow: 0 7px 30px rgba($color: #f53838, $alpha: 0.65);
    }
  }

  .links__link:target {
    top: 0;
  }

  .links {
    position: absolute;
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    top: 0;
    padding: 3rem 0;
    z-index: -10;
    transition: 0.5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      border-bottom: 2px solid var(--color-soft-red);
      background-color: var(--color-background);
      box-shadow: 0 7px 30px rgba($color: #f53838, $alpha: 0);
      z-index: -1;
      top: 0;

      transition: 0.5s ease-in-out;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    @include display-flex(column, center, center);
    width: 100%;
    gap: 50px;
  }

  .footer__logo {
    @include display-flex(column, center, center);
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .sign {
    scale: 0.5;
    position: absolute;
    right: 0;
    display: none;
    z-index: -1;
  }

  .section__information {
    @include display-flex(column, center, center);
    gap: 50px;
    padding: 50px calc(var(--default-padding) * 5) 50px
      calc(var(--default-padding) * 4);
    margin-top: calc(var(--default-padding) * 2);
  }

  .information__data {
    width: 200px;
  }

  .section__help {
    @include display-flex(column, center, center);
    text-align: center;
    gap: 50px;
  }

  .help__txt {
    width: 100%;
  }

  .footer__right {
    @include display-flex(row, flex-start, center);
    flex: 1;
    gap: 50px;
  }
}

@media (max-width: 450px) {
  .customer__container {
    width: 100%;
  }

  .footer__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .links {
    @include display-flex(row, center, center);
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    font-size: var(--font-size-14);
    gap: 4vw;
  }
}

/*5555555555555555555555*/

.links {
  // display: none;
}
